.hero {
  text-align: center;
  margin-top: 80px;
}

.hero h1 {
  font-size: 64px;
  color: #84f3c9;
  margin-bottom: 12px;
  letter-spacing: 1px;
  font-weight: 600;
}

.hero p {
  font-size: 22px;
  color: white;
  font-weight: 300;
}
