.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  background: transparent;
}

.logo {
  font-size: 28px;
  font-weight: 600;
  color: #84f3c9;
  letter-spacing: 2px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.nav-links li:hover {
  color: #84f3c9;
  cursor: pointer;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px; /* controls spacing between logo and text */
}

.logo {
  font-size: 28px;
  font-weight: 600;
  color: #84f3c9;
  letter-spacing: 2px;
}

.logo-img {
  height: 36px;
  width: auto;
}


.button {
  background-color: #117f6a;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius:10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #159c85;
}
