.App {
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
  filter: brightness(1.3);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: -1;
}

.content {
  position: relative;
  z-index: 2;
  color: white;
}
